:root {
  --navy-blue: #1E294C;
  --orange: #ed6b3bff;
  --red: #e73d29ff;
  --beige: #eed1a8ff;
  --turquoise: #038C99;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body, html, #root {
  height: 100%;
  font-family: Futura PT;
}

#root {
  /* display: flex;
  flex-direction: column; */
}

a {
  text-decoration: none;
  color: inherit;
}

h2 {
  font-size: 4rem;
  font-weight: 700;
}

h3 {
  font-size: 3rem;
  text-align: center;
  font-weight: 600;
}

.btn {
  background-color: var(--navy-blue);
  padding: 0.75em 2.5em;
  display: inline-block;
  color: #ffffff;
  font-weight: bold;
  border-radius: 25px;
}

.intro-quiz-block .btn {
  background-color: var(--beige);
  color: #000;

}

div[class$='section-constraint'] {
  padding: 0 2em;
  width: 80%;
  margin: auto;
  text-align: center;
}

header nav {
  background: var(--navy-blue);
  color: #fff;
}

header nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  position: relative;
}

header .logo-container {
  transform: translateY(40%);
  background-color: var(--navy-blue);
  padding: 0px 20px 10px 20px ;
}

.logo {
  width: 100px;
}

/* ------------ QUIZ ---------------------------------------- */
.quiz-section>div {
  text-align: center;
  color: #fff;
  background-color: var(--navy-blue);
}
.quiz-block-bg {
  background-image: url("assets/img/gradient-wave-bg.png");
}
.quiz-block {
  width: 80%;
  margin: auto;
  padding: 10em;
}
.quiz-answers-block {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 100px;
  width: 80%;
  place-items: center;
  padding: 4em 0;
  margin: auto;
}

.quiz-btn-answer {
  background-color: var(--navy-blue);
  width: 80%;
  height: 50px;
  border-radius: 25px;
  padding: 14px;
  position: relative;
  text-align: left;
  min-width: 180px;
}

@media (max-width: 800px) {
  .quiz-answers-block { 
    grid-template-columns: repeat(1, 1fr); 
    row-gap: 30px;
  }

  .quiz-btn-answer { 
    width: 100%;
  }

  .quiz-block {
    width: 100%;
  }
}



.quiz-btn-answer span {
  position: absolute;
  text-align: center;
  left: 0;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  background-color: var(--orange);
  padding: 12px 0;
  top: 0;
}

.quiz-btn-answer p {
  margin-left: 60px;
}

#socks-img {
  max-width: 600px;
  display: block;
  margin: 3em auto;
}

/* ------------ TIMELINE BLOCK ---------------------------------------- */
.timeline-block {
  color: #fff;
  background-color: grey;
  flex-grow: 2;
  min-height: 80vh;
  position: relative;
  z-index: -1;
}

.timeline-block h1 {
  font-weight: normal;
  font-size: 1.5rem;
  position: absolute;
  right: 20px;
  bottom: 20px;
}
.timeline-block #title {
  font-weight: bold;
  font-size: 5rem;
}

.timeline-block svg {
  position: relative;
  width: 100%;
  z-index: 100;
}

.timeline-block svg circle:hover{
  /* transform: scale(4); */
  fill: blue;
  cursor: pointer;
}

.learn-more-block {
  text-align: center;
  margin: auto;
  width: 45%;
  padding: 5rem 0;
}

.learn-more-block p {
  font-weight: 200;
}

.divider {
  width: 150px;
  border: none;
  border-bottom: 2px solid var(--navy-blue);
  margin: 50px auto;
}


/* ------------ LINE CAROUSEL --------------------------------- */

.line-carousel-block {
  width: 70%;
}

.line-carousel-block ul {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 6px;
  box-sizing: border-box;
  list-style: none;
  position: relative;
}
.line-carousel-block ul:first-child {
  position: absolute;
  color: blue;
  left: -50%;
}
.line-carousel-block ul li::after {
  content: '';
  width: 10px;
  height: 10px;
  border-radius: 100%;
  border: 1px solid #000;
  position: absolute;
  bottom: -5px;
  left: 10;
}
/* ------------ FOOTER ---------------------------------------- */

footer {
  background: var(--navy-blue);
  color: #fff;
}

.footer-upper {
  margin: auto;
  width: 90%;
  border-bottom: 1px solid grey;
  display: flex;
  justify-content: space-between;
  text-align: right;
  padding: 2em 0;
  font-weight: bold;
}


.footer-upper #logo {
  max-width: 100px;
  align-self: center;
}


footer ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  position: relative;
}

.footer-lower {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 1em auto;
}

.footer-links li{
  text-decoration: underline;
  border-right: 1px solid #fff;
  padding: 0 0.5em;
  font-weight: 200;
  font-size: 0.825em;
}

.footer-links li:last-child {
  border: none;
}


footer .socials-container li{
  margin: 0 0.25em;
  font-size: 1.5em;
}

.footer-copyright {
  text-align: center;
  font-weight: 200;
  font-size: 0.75em;
  padding-bottom: 0.75em;
}

/* ---------------------- HERO-BLOCK ------------------------------------ */
.hero-block {
  background-size: cover;
  height: 60vh;
  text-transform: uppercase;
  display: grid;
  place-items: center;
  color: #fff;
  width: 100%;
}

/* --------------------- ASSOCIATIONS ---------------------------------- */
#asso-block {
  /* width: 100%;
  height: 100%;
  background-color: red; */
  background: url('assets/img/hero-org-bg.png') 50% no-repeat;
}

#about-block {
  background: url('assets/img/hero-about-bg.png') 50% no-repeat;
}

/* --------------------- ABOUT ---------------------------------- */
.description {
  font-weight: 200;
  width: 80%;
  max-width: 800px;
  text-align: center;
  margin: 0.5em auto 2em auto;
}

.image-triple-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 6vh;
}


.image-triple-description {
  display: flex;
  position: absolute;
  color: #fff;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4em;
  background-color: rgba(0,0,0,0.1);
  backdrop-filter: blur(4px);
  transition: height 0.5s;
}
.image-triple:hover {
  cursor:pointer;
}
.image-triple:hover .image-triple-description {
  height: 100%;
}

.image-triple {
  background-size: cover;
  text-align: center;
  position: relative;
}

.image-triple-container {
  margin: 4rem 0;
}

.about-section, .reports-section, .intro-quiz-block{
  padding: 2.5rem 0;
}

.about-section .image-triple {
  width: 30%;
  height: 70vh;
}
.image-triple-description p {
  margin: auto;
  bottom: 0;
}

.about-section .image-triple-1 {
  background-image: url('/src/assets/img/triple-illu-1.png');
}

.about-section .image-triple-2 {
  background-image: url('/src/assets/img/triple-illu-2.png');
}

.about-section .image-triple-3 {
  background-image: url('/src/assets/img/triple-illu-3.png');
}

.impact-block {
  margin-top: 4em;
  color: #fff;
}

.wave-section img {
  width: 100%;
  margin-bottom: -1px;
}

.wave-section {
  display: flex;
  flex-direction: column;
}
.impact-block-text {
  margin-top: -1px;
  margin: 0;
  background: var(--navy-blue);
}

.impact-block .image-triple, .reports-section .image-triple {
  width: 30%;
  min-width: 200px;
  aspect-ratio: 1 / 1;
}

.impact-block .image-triple-1 {
  background: url('/src/assets/img/impact1.png');
}

.impact-block .image-triple-2 {
  background: url('/src/assets/img/impact2.png');
}

.impact-block .image-triple-3 {
  background: url('/src/assets/img/impact3.png');
}

/* ------------- ANNUAL REPORTS ------------------------------------ */
.reports-section {
  background: var(--navy-blue);
  color: #fff;
}


.reports-section .image-triple-1 {
  background-image: url('/src/assets/img/triple-illu-1.png');
}

.reports-section .image-triple-2 {
  background-image: url('/src/assets/img/triple-illu-2.png');
}

.reports-section .image-triple-3 {
  background-image: url('/src/assets/img/triple-illu-3.png');
}

.reports-section .image-triple-4 {
  background-image: url('/src/assets/img/triple-illu-1.png');
}

.reports-section .image-triple-5 {
  background-image: url('/src/assets/img/triple-illu-2.png');
}

.reports-section .image-triple-6 {
  background-image: url('/src/assets/img/triple-illu-3.png');
}

.reports-section .image-triple-7 {
  background-image: url('/src/assets/img/triple-illu-1.png');
}

.reports-section .image-triple-8 {
  background-image: url('/src/assets/img/triple-illu-2.png');
}

.reports-section .image-triple-9 {
  background-image: url('/src/assets/img/triple-illu-3.png');
}


/* -------------- ARTICLE DETAIL -------------------------------- */
.article-block {
  width: 60%;
  margin: auto;
  min-height: 80vh;
}

.article-block img {
  margin: 4em 0;
  width: 100%;
  height: 40%;
  object-fit: cover;
}
.article-block .article-content {
  width: 80%;
  margin: auto;
  text-align: justify;
}

.article-block .article-title {
  background-color: var(--orange);
  padding: 0.5em;
  border-radius: 8px;
  color: #fff;
  text-align: center;
  font-size: 2rem;
}

.article-block .article-content-text {
  margin: 2em 0;
}